@font-face {
  font-family: LondrinaThin;
  src: url("../assets/fonts/LondrinaSolid-Thin.ttf");
}

@font-face {
  font-family: LondrinaLight;
  src: url("../assets/fonts/LondrinaSolid-Light.ttf");
}

@font-face {
  font-family: LondrinaRegular;
  src: url("../assets/fonts/LondrinaSolid-Regular.ttf");
}

@font-face {
  font-family: LondrinaBlack;
  src: url("../assets/fonts/LondrinaSolid-Black.ttf");
}

@font-face {
  font-family: RobotoThin;
  src: url("../assets/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: RobotoLight;
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoBlack;
  src: url("../assets/fonts/Roboto-Black.ttf");
}
